:root {
    --bg: #efefef;
    --main-color: #000;
    --aceh-cinema-primary: #470706;
    --second-color: #FF9406;
  }
  
  /* * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  } */
  
  .main {
    width: 100%;
    /* height: 100vh; */
    /* background: var(--bg); */
  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .main-logo {
    background-color: var(--aceh-cinema-primary);
    background-size: cover;
    background-position: center center;
  }
  
  .text-field {
    margin: 5px 0 5px 0;
    /* padding-top: 13px; */
    position: relative;
  }
  
  .button-field {
    margin: 5px 0 5px 0;
    /* padding-top: 13px; */
    position: relative;
  }
  
  .text-field input {
    border: 1px solid #00000050;
    border-radius: 5px;
    outline: none;
    /* min-width: 250px; */
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
  }
  
  .button-field button {
    border: 1px solid #FF9406;
    border-radius: 5px;
    outline: none;
    /* min-width: 250px; */
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    /* background: #000; */
    background: #FF9406;
    color: white;
    font-weight: bolder;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -webkit-appearance: none;
  }
  
  .text-field select {
    border: 1px solid #00000050;
    border-radius: 5px;
    outline: none;
    /* min-width: 250px; */
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    background: none;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
  }
  
  .text-field input:focus {
    border: 2px solid #FF9406;
  }
  
  .button-field button:hover {
    transition: all .1s ease-in;
    /* background: #FF9406; */
    background: #E84415;
    border:  1px solid #E84415;
  }
  
  
  .text-field input::placeholder {
    color: transparent;
  }
  
  .text-field label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 10px);
    left: 15px;
    color: #000000AA;
    background: white;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    /* padding: 5px; */
    box-sizing: border-box;
  }
  
  .text-field input:focus+label,
  .text-field input:not(:placeholder-shown)+label {
    top: -8px;
    color: #000;
    font-size: 13px;
  }
  
  .text-field+small {}