:root {
    --primary-color: #470706;
    --secondary-color: #965209;
    --white-color: #fff;
    --third-color: #FD751F;
    --fourth-color: #000000aa;
}

body {
    background-color: var(--primary-color);
}

.nav-costum-bg {
    background-color: var(--primary-color);
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
    padding: 0 50px;
}


.nav-link-costume {
    font-size: 16px !important;
    font-weight: 500;
    color: var(--white-color);
    margin: 0 5px;
}

.nav-link-costume:hover {
    color: var(--secondary-color);
}

a.user-profile {
    font-size: 16px !important;
    color: var(--white-color);
    text-decoration: none;
}

.search-box {
  display: flex;
  align-items: center;
  border: 2px solid var(--white-color);     /* warna garis luar */
  border-radius: 30px;           /* membuat ujung melengkung */
  padding: 5px 10px;
  width: 280px;
  background-color: transparent;
  /* color: var(--white-color); */
}

.search-icon {
  color: var(--white-color);
  font-size: 12px;
  margin-right: 8px;

}

.search-box input {
  border: none;
  outline: none;
  flex: 1;                       /* isi seluruh ruang tersisa */
  font-size: 10px;
  color: var(--white-color);
  background: transparent;
}

/* Opsional: efek fokus */
.search-box:focus-within {
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.3);
  background: #fff;
  color: #eee;
}

.search-box:focus-within input, .search-box:focus-within .search-icon {
    color: #333;
}


.navbar-bottom {
  background-color: var(--primary-color);
  padding: 5px 0;
  font-size: 12px;
  display: none;
  /* z-index: 999; */
}

.nav-bottom-link {
  width: 100%;
  color: var(--white-color);
  text-align: center;
  text-decoration: none;
}




/* === HERO SECTION === */
#hero-section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px;
  /* background-color: #000; */
  overflow: hidden;
  color: var(--white-color);
   margin-bottom: 60px;
}

/* === VIDEO BACKGROUND === */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  zoom: 130%;
  overflow: hidden;
  z-index: 0;
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 56.25vw; /* maintain 16:9 ratio */
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* === OVERLAY CONTENT === */
#hero-section .content-overlay {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
}

/* === DARK OVERLAY LAYER === */
#hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.6); lebih gelap biar teks terlihat */
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  z-index: 1;
}

/* === TEXT & BUTTON === */
#hero-section p {
  color: var(--white-color);
  font-style: italic;
  font-size: 30px;
}

#hero-section button.button-watch {
  padding: 8px 30px;
  background-color: var(--third-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: bolder;
  border-radius: 40px;
  border: none;
  transition: all 0.3s ease;
  width: 300px;
}

#hero-section button.button-watch:hover {
  background-color: var(--white-color);
  color: var(--third-color);
}


/*  SECTION MOVIE */

section.movies {
  padding: 0px 50px;
  margin-bottom: 60px;
}

section.movies-list {
  padding: 0px 50px;
  margin-top: 50px;
  margin-bottom: 60px;
}

section.movies .movie-category h2,
section.movies .movie-category i, 
section.movies-list h2 {
  color: var(--white-color);
  margin-bottom: 30px;
}

section.movies .movie-category i {
  font-size: 20px;
}

section.movies .movie-category i:hover {
  color: var(--third-color);
}


/* SECTION MOVIES */

/* === SWIPER === */
/* .swipers {
  width: 100vh;
  padding-bottom: 30px;
  height: 200px;
} */



.swiper {
  width:90%;
  padding-bottom: 30px;
}

.swiper-slide {
  width: auto !important; /* biar bisa menyesuaikan ukuran konten */
}

.movie-card {
  height: 250px;
  aspect-ratio: 9 / 16;
  border-radius: 10px;
  /* overflow: hidden; */
  transition: transform 0.3s ease;  
  z-index: 99;
}



.movie-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* object-fit: cover; */
  transition: transform 0.3s ease;
}

/* Efek hover kecil */

.movie-card:hover img {
  transform: scale(1.05);
  border-radius: 10px;
}

.movie-tooltip {
  position: absolute;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.25s ease, transform 0.25s ease;
  display: block; /* jangan gunakan display:none agar animasi bisa berjalan */
  visibility: hidden;
  width: 300px;
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  overflow: hidden;
  z-index: 9999;
  pointer-events: none; /* biar gak ganggu hover pas hilang */
}

.movie-tooltip.show {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  pointer-events: auto; /* aktif saat muncul */
}

.movie-tooltip.show {
  display: block;
  opacity: 1;
}

.movie-tooltip iframe {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.tooltip-content {
  padding: 12px 15px;
}

.tooltip-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.tooltip-header a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.tooltip-header button:hover {
  background-color: var(--third-color);
  color: #fff;
}

.tooltip-header .play-btn {
  background-color: var(--third-color);
  color: #fff;
}

.tooltip-header .play-btn:hover {
  background-color: #fff;
  color: var(--third-color);
}

.movie-title {
  /* font-size: 13px; */
  font-weight: bolder;
  color: #ccc;
  margin: 6px 0 2px;
}

.movie-meta {
  font-size: 13px;
  color: #ccc;
  margin: 6px 0 2px;
}


.movie-genre {
  font-size: 13px;
  color: #aaa;
}

.swipper-button-costume {
  position: relative;
  top: -150px;
  visibility: hidden;
}

.swipper-button-costume.show {
  visibility: visible;
}

/* === SWIPER BUTTONS === */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  text-shadow: 0 2px 4px rgba(0,0,0,0.8);
}

.more-movie-list {
  background-color: var(--fourth-color);
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--third-color);
  font-size: 20px;
  font-weight: bolder;
  height: 250px !important;
  aspect-ratio: 9 / 16;
  border-radius: 10px;

}

#load-more {
  color: var(--white-color);
  background-color: var(--fourth-color);
  padding: 10px;
  width: 200px;
  border: 0;
  border-radius: 10px;
  font-weight: bolder;
  transition: all 0.3s ease;
  font-size: 12px;
}

#load-more:hover {
  background-color: var(--third-color);
  color: var(--fourth-color);
  transition: all 0.3s ease;
}

.load-movie-btn {
  visibility: hidden;
}

.load-movie-btn.show {
  visibility: visible;
}


.movie-about {
  /* padding: 0 50px; */
  margin-bottom: 50px;
}

.movie-about .thumbnail {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 1;
  height: 70vh;
  overflow: hidden;
}

.movie-about .thumbnail img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  height: 100%;
}

.movie-about .thumbnail .thumbnail-gradiend {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: linear-gradient(to top, var(--primary-color) 20%, transparent );
}

.movie-about .detail {
  position: relative;
  z-index: 2;
  /* top: -30vh; */
  margin-top: -30vh;
  color: var(--white-color);
  padding: 0 50px;
}

.detail .detail-start {
  display: flex;
}

.detail .poster {
  height: 250px;
  aspect-ratio: 9 / 16;
  border-radius: 10px;
  margin-right: 30px;
}

.detail .detail-info {
  align-self: flex-end !important;
}

.detail .detail-info ul {
  display: flex;
  align-items: center;
  gap: 8px; /* jarak antar item */
  list-style: none;
  padding: 0;
  margin: 5px 0 15px 0;
  /* color: #ccc; warna teks abu-abu muda */
  font-size: 14px;
}

.detail .detail-info ul li {
  position: relative;
}

.detail .detail-info ul li:not(:first-child)::before {
  content: "•";
  /* color: #999; warna titik tengah */
  margin-left: 8px;
  margin-right: 8px;
}

.detail .detail-info .btn-detail {
  margin-top: 20px;
  margin-bottom: 20px;
}
.detail .detail-info .btn-detail a {
  padding: 7.5px 15px;
  border: 1px solid var(--third-color);
  border-radius: 10px;
  text-decoration: none;
  color: var(--white-color);
  font-weight: bolder;
  margin-right: 5px;
  transition: all 0.3 ease;
}

.detail .detail-info .btn-detail a.active {
  background-color: var(--third-color);
}

.detail .detail-info .btn-detail a:hover {
  background-color: var(--third-color);
  color: var(--white-color);
  transition: all 0.3 ease;
}

.detail .detail-end {
  margin-top: 20px;
}
.detail .detail-end .description {
  font-weight: bolder;
  margin-bottom: 30px;
}

.detail .detail-end p.desc-title {
  color: #908f8f;
  line-height: 0;
}


.movie-watch .play-movie{
  height: 60vh;
  margin-bottom: 20px;
}

.movie-watch .detail {
  color: var(--white-color);
}

.movie-watch .more-watch {
  padding: 0 50px;
  width: 100%;
}

.movie-watch .play-movie iframe{
  height: 60vh;
}

.movie-watch .play-movie div {
  position: unset !important;
}

.movie-watch .detail .poster {
  height: 150px;
  aspect-ratio: 9 / 16;
  border-radius: 10px;
  margin-right: 30px;
}

.movie-watch .movie-card {
  height: 200px !important;
  aspect-ratio: 9 / 16;
  border-radius: 10px;
  /* overflow: hidden; */
  transition: transform 0.3s ease;  
  z-index: 99;
}

/* #login-form {
  background-color: var(--primary-color);
} */

#auth-form {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 30px;
  /* border: 0.5px solid var(--fourth-color); */
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

#auth-form h3 {
  color: var(--white-color);
}

.form-button a {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--third-color);
  border-radius: 30px;
  color: var(--third-color);
  font-weight: bolder;
  transition: .3s;

}

.form-button a:hover {
  border: 1px solid var(--white-color);
  color: var(--white-color);
  transition: .3s;
}

.form-button a.show {
  width: 100%;
  padding: 10px;
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
  color: var(--primary-color);
}

#auth-form button#google-login-btn, #auth-form button#google-register-btn {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  font-weight: bolder;
  border: 1px solid var(--third-color);
  transition: .3s;
  color: var(--white-color);
}

#auth-form button#google-login-btn:hover, #auth-form button#google-register-btn:hover {
  background-color: var(--third-color);
  /* color: var(--primary-color); */
  transition: .3s;
}

#auth-form svg {
  height: 20px;
  margin-right: 5px;
}

#auth-form input, #auth-form button{
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid var(--third-color);
  color: var(--white-color);
}

input::placeholder {
  color: var(--third-color);
  opacity: 1; /* penting agar warnanya tidak transparan */
}

#auth-form button {
  background-color: var(--third-color);
  font-weight: bolder;
  color: var(--white-color);
}

section.search {
  padding: 10px 50px;
  margin-bottom: 60px;
  color: var(--white-color);
}

section.search h2 {
  margin-bottom: 30px;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    /* max-width: 900px; */
    margin: 0 auto;
}

.clear-search {
    color: var(--white-color);
    cursor: pointer;
    margin-right: 16px;
    transition: color 0.2s ease;
}

.clear-search:hover {
    color: #ffffff;
}

.box-search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: #ffffff22; /* putih transparan lembut */
    border-radius: 999px;
    padding: 8px 16px;
}

.box-search i {
    color: var(--white-color);
    margin-right: 10px;
    font-size: 16px;
}

.box-search input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    width: 100%;
    padding: 6px 0;
}

.box-search input::placeholder {
    color: #aaa;
    opacity: 0.8;
}

/* Efek fokus (opsional, bisa dihapus jika tidak perlu) */
.box-search input:focus {
    color: #fff;
}

@media (max-width: 768px) {
    .search-wrapper {
        max-width: 100%;
    }

    .clear-search {
        margin-right: 10px;
    }

    .box-search {
        padding: 6px 12px;
    }
}










@media (max-width: 576.98px) {

   /* #hero-section {
    height: 40vh;
  } */

}


@media (max-width: 768.98px) {

  /* #nav-left-menu {
    display: flex !important;
  } */

  .video-background {
    zoom: 150%;
  }

  .navbar-bottom {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link-costume {
    margin-left: 10px;
  }

  .nav-link-costume-menu {
    display: none;
  }

  /* #hero-section {
    height: 50vh;
  } */

  #hero-section p {
    font-size: 16px;
  }

  #hero-section button.button-watch {
    width: auto;
    font-size: 12px;
  }

  .movie-card {
    height: 200px;
  }

  .swipper-button-costume {
    top: -120px;
  }

  .movie-about .detail .poster {
    display: none;
  }

  .detail .detail-info .btn-detail a {
    padding: 5px 10px;
    font-size: 12px;
  }

  .movie-watch .play-movie{
    height: 40vh;
    margin-bottom: 20px;
  }

  .movie-watch .play-movie iframe{
  height: 40vh;
}

  .detail .detail-info ul {
    font-size: 12px;
  }

  .movie-watch .detail .poster {
    height: 100px;
    aspect-ratio: 9 / 16;
    border-radius: 10px;
    margin-right: 30px;
  }



}